//header
header {
	@extend %vertical;
	width: 80%;
	margin: 0 auto;
}
.header_navigation_link {
	color: $colorBlack;
	font-size: $textSize;
}
.header_navigation_link:hover {
	border-bottom: 1px solid $hoverColor;
	padding-bottom: 10px;
}
.header_navigation_link.active {
	border-bottom: 1px solid $hoverColor;
	padding-bottom: 10px;
}
.bgImage {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}