$colorWhite: #fff;
$colorBlack: #000;
$fullHeight: 100vh;
$leftSizeBackground: #2e2821;
$hoverColor: #DF4B4B;
$titleSize: 36px;
$textSize: 14px;
$colorList: #9A9A9A;
$distance: 20px;
$textCenter: center;