.sourse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
}
.sourseFilterForm {
    width: 280px;
    margin: 35px auto;
}
.filters {
    @include flexSpaceBetween;
    color: $colorWhite;
}
.sourseFilterType {
    width: 120px;
    text-align: center;
    color: $colorWhite;
    font-size: 12px;
    padding: 15px 0;
    border: 1px solid $colorWhite;;
}
.sourseFilterType.active {
    background-color: $hoverColor;
    border: none;
    cursor: pointer;
}
.sourseFilterParametrs {
    display: none;
    flex-direction: column;
    margin: 40px 0;
}
.sourseFilter {
    margin: 30px 0;
    -webkit-appearance: none;
    color: $colorWhite;
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 0.7px solid #8E8E8E;
    border-radius: unset;
    padding-bottom: 10px;;
    position: relative;
}
.sourseFilterParametrsItem{
    padding: 5px 0;
    -webkit-appearance: none;
    color: #fff;
    font-size: 12px;
    background: none;
    border: none;
    border-radius: unset;
    width: 100%;
 }
select:focus {
    outline: none;
}
select option {
    color: $colorBlack;
}
.sourseSearch {
    width: 100%;
    color: $colorWhite;
    font-size: 14px;
    border: none;
    padding: $distance;
    background-color: $hoverColor;
}
.sourseFilterParametrs.active{
    display: flex;
}


.select__arrow {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 20px;
    display: block;
    font-size: 14px;
    color: var(--mainColor);
    font-family: 'fontAwesome';
}
.select2-selection__arrow ::before {
    content: "\f078";
}